# Variables and Data Types
---

Pada bagian ini kita akan belajar cara membuat sebuah variabel beserta aturan-aturan penamaan variabel. Selain itu kita juga akan belajar tentang tipe-tipe data yang ada pada python.

## Variables
---

Variabel merupakan wadah untuk menyimpan sebuah nilai.

Python tidak mengenal sebuah perintah untuk mendeklarasikan variabel. Variabel dibuat ketika kita menetapkan suatu nilai untuk variabel tersebut.

In [2]:
a = 1

Variabel memiliki nama yang singkat (x, y, a) atau nama yang lebih deskriptif (mobil, age, total_volume).

Penmamaan variabel pada python harus mengikuti aturan berikut:
- Nama sebuah variabel harus diawali dengan huruf atau karakter underscore ("_")
- Nama sebuah variabel tidak boleh diawali dengan angka
- Nama sebuah variabel hanya boleh mengandung huruf, angka, atau karakter underscore (A-z, 0-9, dan _)
- Nama variabel pada python itu "case-sensitive" (age, Age, dan AGE merupakan tiga variabel yang berbeda)

In [4]:
first_name = "Rahmat"

print(first_name)

Rahmat

In [5]:
Jari2 = 5

print(Jari2)

5

## Data Types
---

Pada bidang pemrograman, tipe data merupakan konsep yang sangat penting. 

Berikut merupakan beberapa tipe data bawaan yang ada di python dan umum digunakan:
- data tipe teks: `str`

In [20]:
# Contoh tipe data str
teks = "Hello World"
type(teks)

str

- data tipe numerik: `int`, `float`, `complex`

In [21]:
# Contoh tipe int
numerik_int = 20
type(numerik_int)

int

In [23]:
# Contoh tipe float
numerik_float = 20.5
type(numerik_float)

float

In [24]:
# Contoh tipe complex
numerik_complex = 1j
type(numerik_complex)

complex

- data tipe rangkaian (Sequence): `list`, `tupel`, `range`

In [25]:
# Contoh tipe list
sequence_list = ["apple", "banana", "cherry"]
type(sequence_list)

list

In [26]:
# Contoh tipe tuple
sequence_tuple = ("apple", "banana", "cherry")
type(sequence_tuple)

tuple

In [27]:
# Contoh tipe range
sequence_range = range(6)
type(sequence_range)

range

- data tipe mapping: `dict`

In [29]:
# Contoh tipe dict
mapping_dict = {"name": "John", "age": 36}
type(mapping_dict)

dict

- data tipe set: `set`

In [30]:
# Contoh tipe set
type_set = {"apple", "banana", "cherry"}
type(type_set)

set

- data tipe boolean: `bool`

In [31]:
# Contoh tipe bool
type_bool = False 
type(type_bool)

bool

In [32]:
# Contoh tipe bool
type_bool = True
type(type_bool)

bool

- data tipe biner: `bytes`

In [34]:
# Contoh tipe bytes
type_bytes = b"Hello"
type(type_bytes)

bytes